@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Numero de contacto <br />
    +56962408643
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/igonzalezalfaro/" target="_blank">ElTioWise</a><br />
    <strong>Whatsapp:</strong> <a href="mailto:Marketing@example.com">Aca aún no funciona pero lo que hará es crear un link que mandará automaticamente a mi Whatsapp</a><br />
    <strong>Youtube:</strong> <a href="https://youtube.cl" target="_blank">Pincha aca</a><br />
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/eltiowise/" target="_blank">ElTioWise</a><br />

</address>