@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 align="center">Catálogo de Peliculas </h1>
    <h2 align="center">Qué es este proyecto? </h2>
    <h4 align="center">este es el primer prototipo de app creado en visual studio en el cual me divertiré solamente para hacer un catalogo de series :D</h4>
    <p class="lead"></p>
   <br />
    aiuda
    <br />

    aiuda
    
    aiuda
    
    aiuda
    
    aiuda
    <br />
    aiuda
    aiuda
    aiuda
    aiuda
    aiuda
    aiuda
    aiudaaiudaaiudaaiudaaiuda
    aiudaaiuda
    aiuda
    aiuda
    aiuda
    aiuda
    aiuda


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que Emocion</h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
